.section-project {
  margin-left: 5%;
  margin-right: 5%;
}

.section-project-header {
  font-weight: bold;
  font-size: 24px;
}

.section-project-container{
  display: flex;
  width: 100%;
}

.section-project-slider{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.section-project-slider > .slick-list{
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 100%;
}

.section-project-slider .slick-slide > div {
  display: flex;
  justify-content: center;
} 


.section-project-prev-button,
.section-project-next-button {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 24px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 0px;
}

.section-project-prev-button:hover,
.section-project-next-button:hover {
  background: rgba(255, 255, 255, 1);
  transform: scale(1.05);
}

.nav-hidden{
  visibility: hidden;
}

@media (max-width: 768px) {
  .section-project-box {
    gap: 8px;
    padding: 8px;
  }

  .section-project-prev-button,
  .section-project-next-button{
    font-size: 14.4px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
}