.portfolio-card-container{
  display: flex;
  justify-content: center;
}

.portfolio-card {
  position: relative;
  width: 100%;
  min-width: 180px;
  max-width: 300px;
  min-height: 240px;
  max-height: 800px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 8px;
  transition: scale 0.3s ease;
}

.portfolio-card:hover{
  opacity: 1; /* Show the border on hover */
  scale: 1.02;
  animation: portfolio-card-anim 2s infinite;
  .portfolio-card-slider{
    animation: portfolio-card-slider-anim 2s infinite;
  }
}

@keyframes portfolio-card-anim {
  0% {
    border: 1px solid red;
  }
  16.7% {
    border: 1px solid orange;
  }
  33.4% {
    border: 1px solid yellow;
  }
  50.1% {
    border: 1px solid green;
  }
  66.8% {
    border: 1px solid blue;
  }
  83.5% {
    border: 1px solid indigo;
  }
  100% {
    border: 1px solid violet;
  }
}

.card-content {
  position: relative;
}

.portfolio-card-slider {
  width: 100%;
  border-bottom: 1px solid #ddd;
  z-index: 1;
}

@keyframes portfolio-card-slider-anim {
  0% {
    border-bottom: 1px solid red;
  }
  16.7% {
    border-bottom: 1px solid orange;
  }
  33.4% {
    border-bottom: 1px solid yellow;
  }
  50.1% {
    border-bottom: 1px solid green;
  }
  66.8% {
    border-bottom: 1px solid blue;
  }
  83.5% {
    border-bottom: 1px solid indigo;
  }
  100% {
    border-bottom: 1px solid violet;
  }
}

.portfolio-card-slider-box{
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
}

.portfolio-card-slider img, .portfolio-card-slider video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slick-dots{
  display: flex;
  bottom: -20px;
  justify-content: center;
}

.slick-dots ul{
  width: fit-content;
  padding: 0;
}

.slick-dots li button:before {
  color: #8f8f8f; /* Change to your desired color */
}

/* Active dot */
.slick-dots li.slick-active button:before {
  color: purple; /* Change to your desired color for the active dot */
}

.portfolio-content {
  display: flex;
  min-height: 200px;
  width: 100%;
  min-width: 180px;
  max-width: 300px;
  flex-direction: column;
  padding: 10px;
  align-items: start;
  justify-content: space-around;
}

.portfolio-text{
  width: 100%;
  min-width: 160px;
  max-width: 280px;
}

.portfolio-text h3 {
  min-height: 30px;
  font-size: 24px;
  margin: 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio-text p {
  min-height: 70px;
  font-size: 12px;
  margin: 0 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  min-width: 170px;
  max-width: 290px;
  height: 80px;
  align-items: flex-start;
}

.skill-badge {
  background-color: #f0f0f0;
  color: #555;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  font-size: 12px;
}

.like-container {
  position: absolute; /* Change to absolute to position it relative to the card */
  top: 10px;
  right: 10px;
  z-index: 4; /* Ensure it appears above the slider */
}

.like-button {
  opacity: 0.5;
  background: white;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  transition: opacity 0.3s linear;
}

.like-button.liked {
  background: #007bff;
  border-color: white;
  color: white;
}

.like-container:hover{
  .like-button{
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .portfolio-card{
    margin: 4px;
  }
}

@media (max-width: 400px) {
  .portfolio-card{
    max-width: 200px;
  }

  .skill-badge{
    font-size: 10px !important;
  }

  .skills{
    height: 70px !important;
  }
}