.contactBox-container{
  display: flex;
  position: fixed;
  bottom: -181px;
  left: 80%;
  transform: translateX(-50%);
  width: 280px;
  height: 210px;
  z-index: 50;
  transition: transform 0.3s ease;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 103;
}

.contactBox-container.activate{
  transform: translate(-50%, -180px);
  .contactBox-button{
    background-color: rgba(20, 20, 20, 0.8);
  }
  .contactBox-box{
    visibility: visible;
  }
}

.contactBox-box{
  display: flex;
  visibility: hidden;
  width: 280px;
  height: 180px;
  background: rgba(85, 85, 85, 0.8);
  border: 1px solid #ddd;
  border-bottom-width: 0 !important;
  transition: visibility 0.3s ease;
}

.contactBox-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  width: 100%;
  margin: 5%;
  gap: 5px;
}

.contactBox-button{
  background-color: rgba(54, 54, 54, 0.8);
  width: 150px;
  height: 30px;
  border: 1px solid #ddd;
  border-bottom-width: 0 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  user-select: none; /* Prevent text selection */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactBox-container:not(.activate):has(.contactBox-button:hover) {
  transform: translate(-50%, -3px);
  .contactBox-button{
    background-color: rgba(32, 32, 32, 0.8);
  }
  .contactBox-box {
    visibility: visible;
  }
}

.contactBox-button:hover{
  background-color: rgba(32, 32, 32, 0.8);
  .contactBox-box {
    visibility: visible;
  }
}


.contactBox-button p{
  margin-bottom: 0;
  font-size: 0.6rem;
  text-align: center;
}

.contactBox-button img {
  width: 20px;
  height: 20px;
}

.contactBox-icon{
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactBox-icon img{
  object-fit: contain;
  width: 50px;
  height: 50px;
}

.contactBox-icon p{
  margin-bottom: 0;
  min-height: 20px;
  max-width: 100%;
  text-align: center;
  font-size: 0.4rem;
  overflow-wrap: break-word; /* Use this for wrapping long words */
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 1.2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width:768px) {
  .contactBox-container{
    width: 90px;
    height: 465px;
    bottom: -441px;
  }
  .contactBox-container.activate{
    transform: translate(-50%, -440px);
  }
  .contactBox-box{
    width: 90px;
    height: 440px;
  }

  .contactBox-button{
    width: 90px;
    height: 25px;
  }

  .contactBox-button p{
    font-size: 0.5rem;
  }

  .contactBox-button img {
    width: 16px;
    height: 16px;
  }
}