.navbar-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-box {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  align-items: center;
  display: flex;
}

.navbar-logo-text {
  font-family: "Roboto Mono", monospace;
  font-weight: 1000;
  font-size: 16px;
  margin: 0 15px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}

.navbar-link {
  font-family: "Roboto Mono", monospace;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: all 0.1s ease-out;
}

.navbar-link:hover {
  color: #8d8d8d;
}

.navbar-link.active {
    color: #6d76f7; /* Desired active link color */
  }

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, top 0.3s ease;;
  }

  .navbar-menu.active {
    opacity: 1;
    pointer-events: auto;
    top: 80px; 
  }

  .navbar-link {
    color: white;
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .fa-bars,
  .fa-times {
    margin: 0 15px;
    font-size: 24px;
  }
}
