.cvBox-overlay{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.cvBox-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: -85vh;
  width: 100%;
  z-index: 102;
  transition: bottom 0.3s ease;
}

.cvBox-container.active{
  bottom: 0;
  .cvBox-button{
    background-color: rgba(20, 20, 20, 0.8);
  }
  .cvBox-box>div{
    visibility: visible;
    opacity: 100%;
  }
}

.cvBox-box{
  overflow-y: auto;
  width: 100%;
  height: 85vh;
  background-color: rgba(85, 85, 85, 0.8);
  border: 1px solid #ddd;
  border-bottom-width: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cvBox-box > div{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cvBox-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 120px;
  background-color: rgba(54, 54, 54, 0.8);
  border: 1px solid #ddd;
  border-bottom-width: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  user-select: none; /* Prevent text selection */
  cursor: pointer;
}

.cvBox-container:not(.active):has(.cvBox-button:hover){
  bottom: -84vh;
  .cvBox-button{
    background-color: rgba(32, 32, 32, 0.8);
  }
}

.cvBox-button p{
  margin-bottom: 0;
  font-size: 0.8rem;
}