/* Section 1 */
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.profile-picture-1 {
  border-radius: 10px;
  margin-right: 5%;
  width: 20vw;
  height: 20vw;
}

.section-1-button-box {
  width: 100%;
  min-height: 25vw;
}

.section-1-text {
  margin-bottom: 1%;
  text-align: center;
}

.section-1-typewriter-box{
  min-height: 12vw;
}

.section-1-typewriter{
  font-size: 3.8vw;
}

.section-1-quote-text{
  font-style: italic;
  font-size: 1rem;
}

.typewriter-gif {
  width: 3.5vw; /* Adjust size as needed */
  height: 3.5vw;
}

.typewriter-mobile-hidden{
  display: none;
}

.section-1-button-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-1-button-stack {
  width: 45%;
  height: 10vw;
  display: grid;
  align-items: center;
}

.section-1-button {
  height: 4vw;
  text-decoration: none;
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
  justify-content: center; /* Add this line */
}

.section-1-button-view-cv {
  color: white;
  text-align: center;
  background-color: black;
  border-radius: 5px;
  border: 2px solid white;
}

.section-1-button-view-cv:hover {
  background-color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  animation: section-1-button-view-anim2 3s infinite;
  scale: 1.02;
  .section-1-text-view-cv {
    animation: section-1-button-view-cv-anim 3s infinite;
  }

  .section-1-gif{
    visibility: visible;
  }
}

.section-1-button-view-portfolio {
  color: white;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
}

.section-1-button-view-portfolio:hover {
  background-color: black;
  animation: section-1-button-view-anim2 3s infinite;
  scale: 1.02;
  .section-1-text-view-portfolio {
    color: white;
    animation: section-1-button-view-portfolio-anim 3s infinite;
  }

  .section-1-gif{
    visibility: visible;
  }
}

.section-1-gif{
  visibility: hidden;
  width: 3.5vw;
  height: 3.5vw;
}

.section-1-text-view-cv {
  margin: auto;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 2vw;
}

.section-1-text-view-cv img{
  width: 30px;
  height: 30px;
}

.section-1-text-view-portfolio {
  margin: auto;
  color: black;
  text-align: center;
  font-size: 2vw;
}

@keyframes section-1-button-view-cv-anim {
  0% {
    color: red;
  }
  16.7% {
    color: orange;
  }
  33.4% {
    color: yellow;
  }
  50.1% {
    color: green;
  }
  66.8% {
    color: blue;
  }
  83.5% {
    color: indigo;
  }
  100% {
    color: violet;
  }
}

@keyframes section-1-button-view-portfolio-anim {
  0% {
    text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red,
      -2px 0 0 red, 2px 0 0 red, 0 2px 0 red, 0 -2px 0 red, -1px -1px 0 red,
      1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
  }
  16.7% {
    text-shadow: -2px -2px 0 orange, 2px -2px 0 orange, -2px 2px 0 orange,
      2px 2px 0 orange, -2px 0 0 orange, 2px 0 0 orange, 0 2px 0 orange,
      0 -2px 0 orange, -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange,
      1px 1px 0 orange;
  }
  33.4% {
    text-shadow: -2px -2px 0 yellow, 2px -2px 0 yellow, -2px 2px 0 yellow,
      2px 2px 0 yellow, -2px 0 0 yellow, 2px 0 0 yellow, 0 2px 0 yellow,
      0 -2px 0 yellow, -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
      1px 1px 0 yellow;
  }
  50.1% {
    text-shadow: -2px -2px 0 green, 2px -2px 0 green, -2px 2px 0 green,
      2px 2px 0 green, -2px 0 0 green, 2px 0 0 green, 0 2px 0 green,
      0 -2px 0 green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green,
      1px 1px 0 green;
  }
  66.8% {
    text-shadow: -2px -2px 0 blue, 2px -2px 0 blue, -2px 2px 0 blue,
      2px 2px 0 blue, -2px 0 0 blue, 2px 0 0 blue, 0 2px 0 blue, 0 -2px 0 blue,
      -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, 1px 1px 0 blue;
  }
  83.5% {
    text-shadow: -2px -2px 0 indigo, 2px -2px 0 indigo, -2px 2px 0 indigo,
      2px 2px 0 indigo, -2px 0 0 indigo, 2px 0 0 indigo, 0 2px 0 indigo,
      0 -2px 0 indigo, -1px -1px 0 indigo, 1px -1px 0 indigo, -1px 1px 0 indigo,
      1px 1px 0 indigo;
  }
  100% {
    text-shadow: -2px -2px 0 violet, 2px -2px 0 violet, -2px 2px 0 violet,
      2px 2px 0 violet, -2px 0 0 violet, 2px 0 0 violet, 0 2px 0 violet,
      0 -2px 0 violet, -1px -1px 0 violet, 1px -1px 0 violet, -1px 1px 0 violet,
      1px 1px 0 violet;
  }
}

@keyframes section-1-button-view-anim2 {
  0% {
    border: 2px solid red;
  }
  16.7% {
    border: 2px solid orange;
  }
  33.4% {
    border: 2px solid yellow;
  }
  50.1% {
    border: 2px solid green;
  }
  66.8% {
    border: 2px solid blue;
  }
  83.5% {
    border: 2px solid indigo;
  }
  100% {
    border: 2px solid violet;
  }
}

.section-1-button-offer-job {
  border-radius: 10px;
  border: 5px solid black;
  width: 45%;
  height: 10vw;
  display: flex;
  justify-content: space-between; /* Add this line */
  align-items: center; /* Add this line */
  text-align: center;
  text-decoration: none;
  animation: section-1-button-offer-job-anim 3s infinite;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 3vw;
}

.section-1-button-offer-job:hover {
  animation: section-1-button-offer-job-anim2 1s linear infinite,
    section-1-button-offer-job-anim 1s linear infinite;
  .section-1-gif{
    visibility: visible;
  }
}

@keyframes section-1-button-offer-job-anim {
  0% {
    background-color: red;
  }
  16.7% {
    background-color: orange;
  }
  33.4% {
    background-color: yellow;
  }
  50.1% {
    background-color: green;
  }
  66.8% {
    background-color: blue;
  }
  83.5% {
    background-color: indigo;
  }
  100% {
    background-color: violet;
  }
}

@keyframes section-1-button-offer-job-anim2 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-picture-1 {
    width: 25vw;
    height: 25vw;
    margin: auto;
    margin-bottom: 10%;
  }

  .section-1-text {
    min-height: 20vw;
    font-size: 5vw;
  }
  
  .section-1-quote-text{
    font-size: 0.6rem;
  }

  .typewriter-mobile-hidden{
    display: inline;
  }

  .section-1-button-box {
    align-items: center;
    text-align: center;
    width: 80vw;
  }

  .section-1-button-stack {
    height: 16vw;
  }

  .section-1-button {
    height: 7vw;
  }

  .section-1-button-view-cv:hover {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .section-1-text-view-cv img{
    width: 20px;
    height: 20px;
  }

  .section-1-text-view-portfolio {
    font-size: 2vw;
  }

  @keyframes section-1-button-view-portfolio-anim {
    0% {
      text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red,
        1px 1px 0 red;
    }
    16.7% {
      text-shadow: -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange,
        1px 1px 0 orange;
    }
    33.4% {
      text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
        1px 1px 0 yellow;
    }
    50.1% {
      text-shadow: -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green,
        1px 1px 0 green;
    }
    66.8% {
      text-shadow: -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue,
        1px 1px 0 blue;
    }
    83.5% {
      text-shadow: -1px -1px 0 indigo, 1px -1px 0 indigo, -1px 1px 0 indigo,
        1px 1px 0 indigo;
    }
    100% {
      text-shadow: -1px -1px 0 violet, 1px -1px 0 violet, -1px 1px 0 violet,
        1px 1px 0 violet;
    }
  }

  .section-1-button-offer-job {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    height: 16vw;
    border: 3px solid black;
  }

  .section-1-gif{
    width: 6vw;
    height: 6vw;
  }
}