html {
  overflow-y: scroll;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    align-items: center;
}

.page-container {
  padding-top: 80px; /* Same height as the navbar */
}

