html {
  overflow-y: scroll;
}

.fade-enter {
  opacity: 0;
  transform: scale(1.1);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto Mono', monospace;
    align-items: center;
    font-size: 20px;
}

.page-container {
  min-height: 80vh;
  padding-top: 80px; /* Same height as the navbar */
}

.app-container {
  position: relative; /* Ensure this is relative so children can use absolute positioning */
  overflow: hidden; /* Prevents scrollbars */
  background-color: black;
}

.blur {
  filter: blur(20px);
}

.clear {
  filter: none;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.section-header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
}

.section-head{
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 1%;
}