.ad-card{
  width: 300px;
  height: 480px;
  margin: auto;
  background-color: grey;
}

@media (max-width: 768px) {
  .ad-card{
    width: 180px; /* 60% of 300px */
    height: 300px; /* 60% of 500px */
  }
}